.container{
    border: 1px solid;
    width: 400px;
    margin: auto;
    margin-top: 20vh;
    padding: 30px;
    background-color: rgb(58,57,57);
    height: 500px;
    border-radius: 5px;
}
.container h1{
    color:white;
    display:flex;
    justify-content: center;

}
.container input{
    padding: 10px;
    width:300px;
    border-radius: 5px;
}
.container button{
    padding:10px;
    width: 70px;
    border-radius: 5px;
    font-weight: 700;
}
 button:hover{

}
.result{
    color:white;
}